/* profile page styles */

.profile-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-width: 1px;

  
}

.profile-content {
  width: 90%;
  max-width: 400px;
  
}

.profile-wrapper {
  background-color: rgba(197, 209, 209, 0.179);
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 100vh;

}

.title-wrapper {
  color: white;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1a1a1a;
  padding: 5px;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;

}

.avatar-wrapper {
  position: relative;
  width: 75px;
  height: 75px;
  margin-right: 1rem;  /* Add spacing between avatar and name */
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.camera-icon-container {
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: #6021ff;
  padding: 3px;  /* Reduced padding */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1.5px solid white;  /* Slightly thinner border */
  width: 18px;  /* Fixed width */
  height: 18px;  /* Fixed height */
}

.camera-icon  {
  width: 12px;  /* Smaller icon size */
  height: 12px;  /* Smaller icon size */
  color: white;
}


.user-info {
  flex-grow: 1;
}

.name {
  font-weight: 600;
  color: #1a1a1a;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.email {
  color: #666;
  font-size: 0.9rem;
  font-weight: 500;
}

.status-badge {
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.description {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  font-weight: 500;
}

.hr-line {
    border: none;
    border-top: 1px dashed #a8a5a5; 
    margin-top: 20px; 
}