/* landing page styles */


.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  background-color: #f0f0f0;

  
}

.landing-page-content {
  width: 90%;
  max-width: 400px;
  text-align: left;
  padding: 2rem 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #1a1a1a;
}

p {
  font-size: 0.9rem;
  color: #7d7d7d;
  margin-bottom: 2rem;
}

.signup-button {
  width: 100%;
  padding: 12px;
  border: none;
  font-weight: 600;
  font-size: 0.95rem;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  background-color: #8a2be2;
  color: white;
}

.logi-button {
  width: 100%;
  padding: 12px;
  border: none;
  font-weight: 600;
  font-size: 0.95rem;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  background-color: #d4cdcd;
  color: #4b0082;
}